---
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Presentation from "../components/Presentation.astro";
import Proyects from "../components/Proyects.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Aboutme from "../components/Aboutme.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="px-4 mx-auto md:mx-none w-full">
    <Container class="py-28 pb-28">
      <Presentation />
      <nav class="flex justify-center mt-10 gap-x-2">
        <SocialPill ms="600" href="https://www.linkedin.com/in/santiagobritos/">
          <LinkedinIcon class="size-6" />
          <span class="hidden md:block">Linkedin</span>
        </SocialPill>
        <SocialPill ms="750" href="https://github.com/H4cKer54N">
          <GithubIcon class="size-6" />
          <span class="hidden md:block">Github</span>
        </SocialPill>
        <SocialPill ms="900" href="mailto:s.britos@hotmail.com">
          <MailIcon class="size-6" />
          <span class="hidden md:block">s.britos@hotmail.com</span>
        </SocialPill>
      </nav>
    </Container>

    <Container id="experience">
		<h2 class="reveal-left-experience overflow-x-hidden md:text-3xl text-xl font-bold mb-8 flex items-center gap-x-3"><BriefCase/> Esperienza lavorativa</h2>
		<Experience/>
    </Container>
    <Container id="projects">
      <h2 class="reveal-left-experience overflow-x-hidden justify-end md:text-3xl text-xl font-bold mb-8 flex items-center gap-x-3"> Progetti <CodeIcon/></h2>
      <Proyects />
    </Container>
    <Container id="about-me">
      <h2 class="reveal-left-experience overflow-x-hidden md:text-3xl text-xl font-bold mb-8 flex items-center gap-x-3"><BriefCase/> Su di me</h2>
      <Aboutme />
    </Container>
    <Footer/>
  </main>
</Layout>



