

<footer class=" rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://sbritos.it" class="hover:underline">sbritos.it</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-4 md:me-6">Esperienza Lavorativa</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-4 md:me-6">Progetti</a>
        </li>
        <li>
            <a href="#about-me" class="hover:underline me-4 md:me-6">Su di me</a>
        </li>
    </ul>
    </div>
</footer>
