<header id="home" class="flex overflow-x-hidden justify-between items-center w-full px-4 pt-8 xl:w-[1120px] mx-auto">
  <div class="md:flex hidden flex-row justify-center md:justify-start">
    <a href="#home">
      <img class="rounded-full size-20" src="h4cker54n.webp" alt="Foto Santiago" />
    </a>
    <a href="mailto:s.britos@hotmail.com">
      <span class="bg-green-100 blink text-green-800 text-xs h-8 font-bold me-2 px-2.5 py-0.5 rounded-t-md rounded-br-md dark:bg-green-900 dark:text-green-300">Aperto alle offerte</span>
    </a>
  </div>

  <nav class="flex mx-auto xl:mx-0 md:mx-2 flex-row justify-center gap-x-2 opacity-80">
    <a href="#experience" class="bg-transparent text-white rounded-md transition duration-300 p-2 hover:bg-slate-50 hover:text-black">Esperienza Lavorativa</a>
    <a href="#projects" class="bg-transparent text-white rounded-md transition duration-300 p-2 hover:bg-slate-50 hover:text-black">Progetti</a>
    <a href="#about-me" class="bg-transparent text-white rounded-md transition duration-300 p-2 hover:bg-slate-50 hover:text-black">Su di me</a>
  </nav>
</header>

